plan.md
README.md
REPORT.md
build/cmake_install.cmake
build/CMakeCache.txt
build/glfw3.dll
build/libraylib.dll
build/Makefile
build/math_calculator.exe
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.1.0/CMakeCCompiler.cmake
build/CMakeFiles/4.1.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.1.0/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.0/CMakeSystem.cmake
build/CMakeFiles/4.1.0/CompilerIdC/a.exe
build/CMakeFiles/4.1.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/math_calculator.dir/build.make
build/CMakeFiles/math_calculator.dir/cmake_clean.cmake
build/CMakeFiles/math_calculator.dir/compiler_depend.internal
build/CMakeFiles/math_calculator.dir/compiler_depend.make
build/CMakeFiles/math_calculator.dir/compiler_depend.ts
build/CMakeFiles/math_calculator.dir/depend.make
build/CMakeFiles/math_calculator.dir/DependInfo.cmake
build/CMakeFiles/math_calculator.dir/flags.make
build/CMakeFiles/math_calculator.dir/includes_C.rsp
build/CMakeFiles/math_calculator.dir/link.txt
build/CMakeFiles/math_calculator.dir/linkLibs.rsp
build/CMakeFiles/math_calculator.dir/objects.a
build/CMakeFiles/math_calculator.dir/objects1.rsp
build/CMakeFiles/math_calculator.dir/progress.make
build/CMakeFiles/math_calculator.dir/src/main.c.obj
build/CMakeFiles/math_calculator.dir/src/main.c.obj.d
build/CMakeFiles/math_calculator.dir/src/core/coord_sys.c.obj
build/CMakeFiles/math_calculator.dir/src/core/coord_sys.c.obj.d
build/CMakeFiles/math_calculator.dir/src/core/expr_parser.c.obj
build/CMakeFiles/math_calculator.dir/src/core/expr_parser.c.obj.d
build/CMakeFiles/math_calculator.dir/src/core/fitting.c.obj
build/CMakeFiles/math_calculator.dir/src/core/fitting.c.obj.d
build/CMakeFiles/math_calculator.dir/src/core/latex_expr_parser.c.obj
build/CMakeFiles/math_calculator.dir/src/core/latex_expr_parser.c.obj.d
build/CMakeFiles/math_calculator.dir/src/core/numerical.c.obj
build/CMakeFiles/math_calculator.dir/src/core/numerical.c.obj.d
build/CMakeFiles/math_calculator.dir/src/render/latex_renderer.c.obj
build/CMakeFiles/math_calculator.dir/src/render/latex_renderer.c.obj.d
build/CMakeFiles/math_calculator.dir/src/render/render2d.c.obj
build/CMakeFiles/math_calculator.dir/src/render/render2d.c.obj.d
build/CMakeFiles/math_calculator.dir/src/render/render3d.c.obj
build/CMakeFiles/math_calculator.dir/src/render/render3d.c.obj.d
build/CMakeFiles/math_calculator.dir/src/render/view.c.obj
build/CMakeFiles/math_calculator.dir/src/render/view.c.obj.d
build/CMakeFiles/math_calculator.dir/src/ui/input.c.obj
build/CMakeFiles/math_calculator.dir/src/ui/input.c.obj.d
build/CMakeFiles/math_calculator.dir/src/ui/widgets.c.obj
build/CMakeFiles/math_calculator.dir/src/ui/widgets.c.obj.d
build/CMakeFiles/math_calculator.dir/src/utils/list.c.obj
build/CMakeFiles/math_calculator.dir/src/utils/list.c.obj.d
image/REPORT/1781606833361.png
image/REPORT/1781606839975.png
image/REPORT/1781606864815.png
image/REPORT/1781606883149.png
